#topbar
{
    display: flex;
}
#btnlogo , #homebtn , #messagebtn , #notifybtn , #profilebtn
{
    background-color: white;
    border: none;
}
#mainlogo
{
    height: 6rem;
}
#mainlogoparent
{
    margin-left: 1rem;
}
#home
{
    height: 2rem;
}