/* For the entire page */
body {
  overflow: auto; /* allow scroll */
}

/* Hide scrollbar for Chrome, Safari, and Edge */
body::-webkit-scrollbar {
  display: none;
}
/*scroll bar up*/
#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(146, 233, 255); /* so posts don’t show through */
  z-index: 1000; /* keep it above everything */
  height: 6rem; /* adjust as per your logo size */
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#homebtn
{
    background-color: rgb(146, 233, 255);
    border: none;
    margin-top: -0.5rem;
    margin-left: 23rem;
}
#btnlogo ,#homebtn,#btnnamelogo, #messagebtn , #notifybtn , #profilebtn , #backbtn :hover
{
    cursor: pointer;
}
#btnnamelogo
{
    background-color: rgb(146, 233, 255);
    border: none;
    margin-left: 0.6rem;
    margin-top: 1rem;
}
#btnlogo 
{
    background-color: rgb(146, 233, 255);
    border: none;
    margin-left: 1rem;
    margin-top: -0.1rem;
}
#messagebtn 
{
    background-color: rgb(146, 233, 255);
    border: none;
    margin-top: -1rem;
}
#profilebtn
{
    background-color: rgb(146, 233, 255);
    border: none;
    margin-top: -0.7rem;
}
#notifybtn , #backbtn
{
    background-color: rgb(146, 233, 255);
    border: none;
    margin-top: -0.5rem;
}
#mainlogo
{
    height: 4rem;
}
#mainlogoname
{
    height: 4.8rem;
}
#mainlogoparent
{
    margin-top: -1rem;
    margin-left: 1rem;
}
#mainlogonameparent
{
    margin-top: -1rem;
    margin-left: -1rem;
}
/*search bar*/ 
.InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}
.input {
  width: 170px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(255, 81, 0);
}
.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}
.searchIcon {
  width: 13px;
}
.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}
.micIcon {
  width: 12px;
}
.micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.searchIcon path {
  fill: rgb(114, 114, 114);
}
.micIcon path {
  fill: rgb(255, 81, 0);
}
.micButton:hover {
  background-color: rgb(255, 230, 230);
  transition-duration: 0.3s;
}
.mainbarparent {
  display: flex;
  padding-right: 2rem;
  margin-top: 7rem; /* same or slightly more than topbar height */
}

/*search bar*/ 
#searchbarparent
{
    margin-left: 1rem;
    margin-top: -1.2rem;
}
#searchandpostbar
{
    padding-top: 1rem;
}
#newpostparent
{
    display: flex;
}
#newpostbar
{
    margin-left: 2rem;
    background-color: rgb(166, 220, 247);
    width: 60rem;
    border-radius: 2rem;
    height: 5rem;
    box-shadow: 0 10px 5px rgba(0,0,0,0.6);
}
#profilepic
{
    height: 3rem;
    border-radius: 5rem;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
}
#newinput::placeholder
{
    color: black;
}
#newinput
{
  height: 3rem;
  margin-top: 0.8rem;
  width: 50rem;  
  border: none;
  background-color: white;
  border-radius: 2rem;
  padding-left: 1rem;
  font-weight: 300;
  font-size: 1rem;
  color: black;
}
.post
{
    margin-left: 2rem;
    background-color: rgb(166, 220, 247);
    width: 60rem;
    border-radius: 2rem;
    margin-top: 2rem;
    box-shadow: 0 10px 5px rgba(0,0,0,0.6);
}
.row1
{
  display: flex;
}
.propic
{
  height: 3rem;
    border-radius: 5rem;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
}
.postdetails 
{
  margin-top: 1rem;
  width: 50rem;
  border-radius: 2rem;
  background-color: white;
}
.username 
{
  margin-top: 0.2rem;
  font-weight: 600;
  margin-left: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}
.time
{
  margin-right: 0.5rem;
}
.timedetails
{
  font-weight: 700;
  margin-left: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  color: rgb(89, 88, 88);
  font-size: 0.8rem;
}
.row2
{
  margin-top: 1rem;
  margin-left: 2rem;
  width: 55rem;
  border-radius: 2rem;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.descriptionpost
{
  margin-left: 1rem;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: 1rem;
}
.postimageparent
{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.postimg
{
  width: 50%;
  height: 50%;
  object-fit: cover;
  margin-left: 1rem;
  border-radius: 2rem;
}
.showposts
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.line
{
  background-color: black;
  height: 0.1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}
.row5
{
  margin-top: 1rem;
  margin-left: 2rem;
  width: 55rem;
  border-radius: 2rem;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  margin-bottom: 1rem;
}
.commentparent , .shareparent
{
  display: flex;
}
.sharebtn
{
  margin-left: 20rem;
  background-color:rgb(209, 206, 206);
  border: none;
  border-radius: 2rem;
}
.likebtn , .sharebtn :hover 
{
  cursor: pointer;
}
.suggestionsparent {
  position: fixed;
  top: 7rem; /* below topbar */
  right: 2rem;
  background-color: rgb(166, 220, 247);
  border-radius: 2rem;
  width: 27rem; /* fixed width */
  padding-bottom: 1rem;
  z-index: 999;
  box-shadow: 0 10px 5px rgba(0,0,0,1);
  padding-bottom: 2rem;
}
.suggestheading
{
  font-weight: 900;
  margin-left: 2rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: darkblue;
}
.morefollowpeople
{
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  background-color: white;
  border-radius: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  box-shadow: 0 10px 5px rgba(0,0,0,0.8);
}
.peopleimg
{
    height: 3rem;
    border-radius: 5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}
.peopledetails
{
  width:10rem;
}
.peoplename
{
  margin-top: 0.2rem;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}
.aboutpeople
{
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  color: rgb(89, 88, 88);
  font-size: 0.8rem;
}
.followbtn:hover
{
  cursor: pointer;
  background-color: darkblue;
}
.followbtn
{
  border: none;
  background-color: rgb(8, 120, 164);
  border-radius: 2rem;
  width: 5rem;
  height: 2rem;
  color: white;
  font-weight: 900;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.widgets
{
  display: flex;
}
/*widgetbtn*/
/* From Uiverse.io by Creatlydev */ 
.button {
  margin-top: -1rem;
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: darkblue;
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #000;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}
/*like*/
/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
  cursor: pointer;
  background-color: transparent;
  margin-left: 2rem;
}

.leftContainer {
  width: 60%;
  height: 100%;
  background-color: rgb(238, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.leftContainer .like {
  color: white;
  font-weight: 600;
}

.likeCount {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(238, 0, 0);
  font-weight: 600;
  position: relative;
  background-color: white;
}

.likeCount::before {
  height: 8px;
  width: 8px;
  position: absolute;
  content: "";
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
  left: -4px;
}

.Btn:hover .leftContainer {
  background-color: rgb(219, 0, 0);
}

.Btn:active .leftContainer {
  background-color: rgb(201, 0, 0);
}

.Btn:active .leftContainer svg {
  transform: scale(1.15);
  transform-origin: top;
}
/*commentbtn
/* From Uiverse.io by vinodjangid07 */ 
.bookmarkBtn {
  width: 130px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.062);
  margin-left: 12rem;
}

.IconContainer {
  width: 30px;
  height: 30px;
  background-color: rgb(103, 74, 228);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(26, 26, 26);
  z-index: 1;
  transition-duration: .3s;
  font-size: 1.04em;
  font-weight: 600;
}

.bookmarkBtn:hover .IconContainer {
  width: 120px;
  border-radius: 40px;
  transition-duration: .3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: .3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: .3s;
}
/*sharebtn*/
/* From Uiverse.io by aryansagar2405 */ 
.share-wrapper {
  --gap: 0.5em;
  --radius: 0.35em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  --dot-bg: #212121;
  --dot-color: #313131;
  --dot-size: 1px;
  --dot-space: 22px;
  background:
    linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  border: 0.1em solid #313131;
  padding: 0.5em;
  border-radius: var(--radius);
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-left: 14rem;
}

.check[type="checkbox"] {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: -0.25em;
  margin-bottom: -0.25em;
}

.icon {
  width: 1.2em;
  height: 1.2em;
  margin-left: 0.5em;
  fill: white;
  transition: opacity 0.3s ease-in-out;
}

.icon.active {
  display: none;
  fill: #2196f3;
}

.check[type="checkbox"]:checked + .container .icon.active {
  display: inline-block;
  animation: pop 0.5s ease-in-out;
}

.check[type="checkbox"]:checked + .container .icon.inactive {
  display: none;
}

.share-text {
  margin-left: 0.5em;
  padding: 0.5em;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bolder;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
