#topbar
{
    display: flex;
}
#btnlogo , #homebtn , #messagebtn , #notifybtn , #profilebtn , #backbtn
{
    background-color: white;
    border: none;
}
#mainlogo
{
    height: 6rem;
}
#mainlogoparent
{
    margin-left: 1rem;
}
#home , #message ,#notification , #profile , #back
{
    height: 3rem;
}
#home 
{
    height: 3rem;
}